#draw {
  position : absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#vid {
  padding : 0px;
  margin : 0px;
  mask : url("#vid");
  z-index : 1 !important;
}

#vid-overlay {
  position : absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index : 2 !important!
}

#btn {
  margin-top : 2em;
}

#log {
  margin-top : 50px;
}

#vidlist {
  margin-bottom: 1em;
}

#catselector {
  margin-right : 1em;
}

.col-form-label {
  margin-right : 1em;
}

#recording {
  margin-left : 1em;
  padding-top : .4em;
}

#vidtitle {
  margin-right : .7em;
  padding-top : .5em
}

.container{
  position:relative; /*<---add this*/
}
.col-3 {
  text-align: right;
}
